:root {
  --yellow: #f6d365;
  --orange: #fda085;
  --btn-del: #ff6f47;
  --btn-green: #49cc49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(120deg, var(--yellow), var(--orange));
  color: white;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1.5rem;
  height: 53px;
  border: none;
  background-color: white;
}

form button {
  color: var(--orange);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: var(--orange);
  color: white;
}

.todoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoList {
  min-width: 468px;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s ease;
}

.todo li {
  flex: 1;
  margin-left: 10px;
}

.complete,
.delete {
  background-color: var(--btn-del);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.todo button.complete {
  background-color: var(--btn-green);
}

.fa-check,
.fa-trash {
  pointer-events: none;
}

.done {
  text-decoration: line-through;
  opacity: 0.4;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.options {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.options select {
  font-size: 1.2rem;
  color: var(--btn-del);
  width: 11.5rem;
  cursor: pointer;
  padding: 0.9rem;
}

.options::after {
  content: "\25BC";
  position: absolute;
  background: var(--btn-del);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

.fall {
  transform: translateY(10rem);
  opacity: 0;
}
